__pycache__/*
*/__pycache__/*
models/*
data/*
conda_cache/*
.vscode/*
.DS_Store*
*.csv
*.nc
*.pt
metrics/*
predictions/*
archive/*
.nextflow*
work/*
runInfo/*
outputs/*
!data/inputs.csv
!data/test_inputs.csv
