params {
    common_config = 'config/common_params.json'
    input = 'data/inputs.csv'
    n_best = 3
    outputavgtime = 5
    ssps = ["126", "245", "370", "585"]
    experiment_start = 1950
    experiment_end = 2100
    baseline_start = 1900
    baseline_end = 1950
    input_length = 10
    out_res = 10
    time_start = 1900
    time_end = 2100
    file_front = "MPI_"
    model_file_front = "MPI_recordtemp_"
    in_res = 4
    input_var = "tos"
    output_var = "tas"
    n_train = 25
    n_val = 13
    batch_size = 128
    lr = 0.05
    lr_patience = 7
    early_stopping_patience = 20
    epochs = 200
    momentum = 0.5
    test_start = 38
    test_end = 49
    data_dir = "${launchDir}/data"
}

// set the directory where results will be published (models and metrics subdirectories with outputs will go in here)
outputDir = 'outputs/'
// change using -o or -output-dir when calling nextflow run

workflow {
    output.mode = 'symlink'
}

// Specifying things for each process by name
process {
    // General process settings
    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 8.h    * task.attempt }

    // Retry once if the exit code looks like an OOM
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    withName : 'train_predict' {
        // Specific resource requirements for the train_predict process (based on submit_cpu_train.sl)
        cpus = 8
        memory = 40.GB
        time = 4.h
    }
    conda = "$projectDir/environment.yml"
}

// Settings for the Slurm executor
executor {
    name              = 'slurm'
    queueSize         = 500
    submitRateLimit   = '20 min'
    pollInterval      = '30 sec'
    queueStatInterval = '30 sec'
}

// Name the reports according to when they were run
params.timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

// Generate report-timestamp.html execution report 
report {
    enabled   = true
    overwrite = false
    file      = "./runInfo/report-${params.timestamp}.html"
}

// Generate trace-timestamp.txt trace file
trace {
    enabled   = true
    overwrite = false
    file      = "./runInfo/trace-${params.timestamp}.txt"
    fields    = 'name,status,exit,duration,realtime,cpus,%cpu,memory,%mem,rss,peak_rss,workdir,native_id'
}

// Default settings for all profiles
process {
    stageInMode = 'symlink'
    cache       = 'lenient'
}

cleanup = true

// Quick config profiles to allow you to switch things without editing the whole config
profiles {
    test {
        params.input = 'data/test_inputs.csv'
        params.epochs = 3
        params.ssps = ["126", "245"]
        cleanup = false

        // Override only for the test profile
        process {
            withName: 'train_predict' {
                // Request 10 GB in test
                memory = 10.GB
            }
        }
    }
    local {
        process.executor = 'local'
    }
    mahuika {
        process.executor = 'slurm'
        process.queue    = 'genoa,milan'
        process.clusterOptions = { "--job-name=${task.process}-${task.hash}" }
        params.publish_mode = 'copy'
        workflow.output.mode = 'symlink'
    }
    conda {
        conda.enabled = true
        conda.cacheDir = './conda_cache'
    }
}
