params {
    input: Path = 'data/inputs.csv'
    outputavgtime: Integer = 5
}

outputDir = 'outputs/'

conda.enabled = true

profiles {
    test {
        params.input = 'data/test_inputs.csv'
    }
    local {
        process.executor = 'local'
    }
    mahuika {
        process.executor = 'slurm'
    }
}