params {
    input         = 'data/inputs.csv'
    outputavgtime = 5
}

// set the directory where results will be published (models and metrics subdirectories with outputs will go in here)
outputDir = 'outputs/'
// change using -o or -output-dir when calling nextflow run

workflow {
    output.mode = 'symlink'
}

// Conda settings
conda.enabled = true
conda.cacheDir = '/nesi/nobackup/nesi99999/jreeve/conda_cache'

// Specifying things for each process by name
process {
    withName: train_predict {
        // Specific resource requirements for the train_predict process (based on submit_cpu_train.sl)
        cpus   = 8
        memory = 40.GB
        time   = '4h'
    }
}

// Quick config profiles to allow you to switch things without editing the whole config
profiles {
    test {
        params.input     = 'data/test_inputs.csv'
        process.executor = 'local'
    }
    local {
        process.executor = 'local'
    }
    mahuika {
        process.executor     = 'slurm'
        executor.queue       = 'milan'
        params.publish_mode  = 'copy'
        workflow.output.mode = 'symlink'
    }
}
